_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
**/.DS_Store
Gemfile.lock
assets/img/.DS_Store

# Tumblr auto-publisher
.github/scripts/node_modules
.github/scripts/.env
.github/scripts/README.md
.github/scripts/SETUP-CHECKLIST.md
assets/img/article/.DS_Store
