body {
  background: url("img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Benne', serif;
  font-size: 16px;
  color: #fbfcfe;
  padding: 2.75rem;
  height: 100vh;
}

a {
  background: #6c819c;
  text-decoration: none;
  color: #fbfcfe;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  transition: 0.25s;
}

a:hover {
  background: #fbfcfe;
  color: #6c819c;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  height: 100px;
  margin-right: 8px;
}

header h1, header h6 {
  font-family: 'Gloria Hallelujah', cursive;
}

header h1 {
    font-size: 2.75rem;
    line-height: 1.25;
}

header h6 {
    font-size: 1rem;
}

main {
  margin-top: 3rem;
}


p {
  font-size: 1.5rem;
  padding-bottom: 3rem;
  line-height: 2;
  text-align: center;
}

.explainer {
  padding-bottom: 1rem;
  line-height: 1;
}

small {
  font-size: 65%;
}
