body {
  background: url("img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Benne', serif;
  font-size: 16px;
  color: #fff;
  padding: 0 2.75rem;
  display: grid;
  grid-gap: 1.375rem;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
}

a {
  text-decoration-color: #beb339;
  text-decoration-thickness: 0.2rem;
  color: #fff;
}

a:hover {
 text-decoration-color: #6c819c;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
   grid-column: 1 / -1;
}

header h1, header h6 {
  font-family: 'Gloria Hallelujah', cursive;
}

header h1 {
    font-size: 2.75rem;
    line-height: 1.25;
    margin-bottom: 0;
}

header h6 {
    font-size: 1rem;
    margin-top: 0;
}

header a {
  font-size: 1.5rem;
  padding-left: 5rem;
}

menu {
  padding: 0;
}

main h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2rem;
  color: #beb339;
}

p {
  font-size: 1.75rem;
  padding-bottom: 1rem;
  line-height: 2;
}

@media (max-width: 1024px) {
  body {
    grid-template-columns:1fr;
  }

  header {
    flex-direction: column;
  }

  menu {
    text-align: center;
  }

  header h1 {
    text-align: center;
    margin-bottom: 0;
  }

  header a {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: center;
  }
}
