<header>
  <div class="logo">
    <a href="/"><img src="{{baseurl}}/assets/img/quartz.png" alt="Logo"></a>
  </div>
  <div class="title">
    <h1>Arabella's Craft</h1>
    <h6>Soul Centered Intuitive Tarot&nbsp;Readings</h6>
  </div>
</header>
<input id="toggle" type="checkbox"></input>

<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>


<menu>
  <div class="nav-wrapper">
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="https://ko-fi.com/arabellascraft/posts" target="_blank">Blog</a>
      <a href="https://ko-fi.com/album/Tarot-Card-Spreads-S6S57YCUF" target="_blank">Tarot Spreads</a>
      <a href="https://www.etsy.com/shop/arabellascraft?section_id=34423629" target="_blank">Book a Reading</a>
    </nav>
  </div>
</menu>
