<header>
  <div class="logo">
    <a href="/"><img src="{{baseurl}}/assets/img/juniper-divination.svg" alt="Juniper Divination"></a>
  </div>
  <div class="title"><p>Juniper Divination</p></div>
</header>
<input id="toggle" type="checkbox"></input>

<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>


<menu>
  <div class="nav-wrapper">
    <nav>
      <a href="/">Home</a>
      <div class="dropdown">
        <a href="#">Shop<span class="hide-on-small"> ▼</span></a>
        <div class="dropdown-content">
          <a href="https://ko-fi.com/juniperdivination/shop/zinesandebooks" target="_blank">Zines and eBooks</a>
          <a href="https://ko-fi.com/juniperdivination/shop/digitaldecks" target="_blank">Digital Tarot Decks</a>
          <a href="https://shop.juniperdivination.com/?sort=page_layout&tags=tarot%20spreads" target="_blank">Tarot Spread Packs</a>
          <a href="https://juniperdivination.etsy.com/listing/1288443302/magpie-tarot-deck-o-chaos-tarot-deck-o" target="_blank">Magpie Tarot Decks</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">Free Resources<span class="hide-on-small"> ▼</span></a>
        <div class="dropdown-content">
          <a href="/free-tarot-spreads/">Free Tarot Spreads</a>
          <a href="/articles">Articles</a>
        </div>
      </div>
      <a href="/about">About</a>
      <a href="https://ko-fi.com/juniperdivination" target="_blank">Ko-Fi</a>
      <a href="https://juniperdivination.etsy.com?section_id=39508269" target="_blank">Etsy</a>
    </nav>
  </div>
</menu>
