<div class="site-top">
  <header>
    <div class="logo">
      <a href="/"><img src="{{ site.baseurl }}/assets/img/juniper-divination.svg" alt="Juniper Divination"></a>
    </div>
    <div class="title"><p><a href="/">Juniper Divination</a></p></div>
  </header>
  <input id="toggle" type="checkbox"></input>

  <label for="toggle" class="hamburger">
    <div class="top-bun"></div>
    <div class="meat"></div>
    <div class="bottom-bun"></div>
  </label>


  <menu>
    <div class="nav-wrapper">
      <nav aria-label="Primary">
        <a href="/">Home</a>
        <div class="dropdown" aria-label="Shop menu">
          <a href="https://ko-fi.com/juniperdivination/shop">Shop<span class="hide-on-small" aria-hidden="true"> ▼</span></a>
          <div class="dropdown-content">
            <a href="https://ko-fi.com/juniperdivination/shop/zinesandebooks?utm_source=website&utm_medium=header" target="_blank" rel="noopener noreferrer">Zines and eBooks</a>
            <a href="https://ko-fi.com/juniperdivination/shop/digitaldecks?utm_source=website&utm_medium=header" target="_blank" rel="noopener noreferrer">Digital Tarot Decks</a>
            <a href="https://juniperdivination.etsy.com/listing/1288443302/magpie-tarot-deck-o-chaos-tarot-deck-o" target="_blank" rel="noopener noreferrer">Magpie Tarot Decks</a>
          </div>
        </div>
        <div class="dropdown" aria-label="Articles menu">
          <a href="/articles">Articles<span class="hide-on-small" aria-hidden="true"> ▼</span></a>
          <div class="dropdown-content">
            <a href="/irish">Irish Folklore and Magic</a>
            <a href="/divination">Divination</a>
            <a href="/witchcraft">Witchcraft</a>
          </div>
        </div>
        <a href="/free-tarot-spreads/">Tarot Spreads</a>
        <a href="/about">About</a>
        <a href="https://ko-fi.com/juniperdivination/donate?utm_source=website&utm_medium=header" target="_blank" rel="noopener noreferrer">Support</a>

      </nav>
    </div>
  </menu>
</div>
