{
      "@type": "Organization",
      "@id": "{{ site.url }}/#organization",
      "name": "Juniper Divination",
      "alternateName": {{ site.title | strip | jsonify }},
      "url": "{{ site.url }}/",
      "description": {{ site.description | strip | jsonify }},
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/assets/img/juniper-divination.svg",
        "contentUrl": "{{ site.url }}/assets/img/juniper-divination.svg",
        "width": 256,
        "height": 256
      },
      "sameAs": [
        "https://bsky.app/profile/juniperdivination.com",
        "https://pagan.plus/@juniperdivination",
        "https://juniper-divination-and-witchery.tumblr.com/",
        "https://www.reddit.com/user/Arabellas_Eye/",
        "https://www.pinterest.com/juniperdivination/",
        "https://ko-fi.com/juniperdivination",
        "https://juniperdivination.etsy.com/"
      ]
    }
