@import 'colors';

// General
body {
  background: $white;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $black;
  padding: 2.75rem;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
}

hr {
    border: 0 none transparent;
    border-top: 0.1rem solid $blue;
    padding-bottom: 1rem;
  }

a {
  text-decoration-color: $blue;
  text-decoration-thickness: 0.2rem;
  color: $black;
  transition: 0.25s;
  text-underline-offset: 0.25rem;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
  &.fancy {
    color: $blue;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.button {
  display: block;
  background: $blue;
  text-decoration: none;
  font-size: 1.25rem;
  color: $white;
  line-height: 1.75;
  padding: 0.5rem 1rem;
  transition: 0.25s;
  border-radius: 0.25rem;
}

img {
  border-radius: 0.25rem;
}

.two-column-list {
  columns: 2 auto;
}

.article-list {
  .article {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
    img {
      object-fit: cover;
      width: 20em;
      height: 20em;
      max-width: 20em;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
}


// Header
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 2 / 4;

  &.minimal {
    flex-direction: column;
    grid-column: 1 / -1;
    margin-bottom: 3rem;
  }

  .title p {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
  }

  .logo img {
    height: 80px;
    margin-right: 1rem;
  }
}

// Nav
#toggle, .hamburger {
  display: none;
}

menu {
  grid-column: 4/7;
  align-self: center;
  padding: 0;
  nav {
    display: flex;
    gap: 2rem;
    justify-content: end;
    a {
      position: relative;
      display: inline-block;
      font-size: 1rem;
      text-decoration: none;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 3.5rem;
    background-color: $white;
    min-width: 8rem;
    box-shadow: 0 0.5rem 1rem 0rem rgba($black,0.2);
    z-index: 1;
    margin: 1rem;
    a {
      display: block;
      margin: 1rem;
    }
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

main {
  margin-top: 2rem;
  grid-column: 3 / 6;
  &.minimal {
    margin: auto;
    text-align: center;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    line-height: 1.5;
    color: $blue;
    margin-bottom: 1rem;
  }

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }

  table, th, td {
  border: 1px solid $black;
  }

  table {
    width: 100%;
    margin-bottom: 2rem 0;
  }

  th {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: left;
    padding: 0.25rem;
  }

  td {
    font-size: 1.05rem;
    line-height: 1.5rem;
    padding: 0.25rem;
  }

  p, li {
    font-size: 1.25rem;
    padding-bottom: 2rem;
    line-height: 1.5;
    > a.button {
      display: inline;
      padding: 0.75rem;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  .explainer {
    line-height: 1.2;
  }

  .no-padding-bottom {
    padding-bottom: 0;
  }

  small {
    font-size: 65%;
  }
}

footer {
  grid-column: 3 / 6;
  margin: 0 auto;
  text-align: center;

  p {
    font-size: 1.25rem;
    padding-bottom: 2rem;
    line-height: 1.5;
  }

  .kofi-callout {
    background: rgba($blue, 0.25);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
  }

}

@media (max-width: 1224px) {
  .hide-on-small {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
    padding: 0 0.5rem;
  }

  footer {
    grid-column: 1 / -1;
  }


  header {
    text-align: center;
    margin: 2rem auto;
    grid-column: 1/8;
    .logo {
      display: none;
    }
    h1 {
      font-size: 2rem;
    }
  }

  // Hamburger Nav
  .hamburger {
    display: block;
    position: absolute;
    top: 1rem;
    left: 5%;
    right: 0;
    margin-right: -2rem;
    width: 2rem;
    height: 3rem;
    z-index: 5;

    div {
      position: relative;
      width: 2.5rem;
      height: 3px;
      background-color: $blue;
      margin-top: 0.5rem;
      transition: all 0.3s ease-in-out;
    }
  }

  menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $blue;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    margin: 0;

    .dropdown-content {
        display: block;
        position: relative;
        background-color: $blue;
        box-shadow: none;
        z-index: 0;
        margin: 0;
        top: 0;
    }

    .nav-wrapper {
      position: relative;
    }

    nav {
      text-align: left;
      margin-left: 15%;
      margin-top: 5.5rem;
      flex-direction: column;
      gap: 0;
      overflow: scroll;

      a {
        background-color: none;
        position: relative;
        text-decoration: none;
        color: $white;
        font-size: 2rem;
        display: block;
        margin-top: 1.25em;
        &:hover {
          color: $white;
        }
      }
    }
  }

  .categories div {
    width: auto;
  }

  #toggle:checked + .hamburger {
    div {
      background-color: $white;
    }

    .top-bun {
      transform: rotate(-45deg);
      margin-top: 25px;
    }

    .bottom-bun {
      opacity: 0;
      transform: rotate(45deg);
    }

    .meat {
      transform: rotate(45deg);
      margin-top: -0.15rem;
    }

    + menu {
      top: 0;
      transform: scale(1);
    }
  }

  main {
    padding: 0 1rem;
    grid-column: 1 / -1;

    h1 {
      font-size: 1.35rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 667px) {
  .hide-on-mobile {
    display: none;
  }

  .article-list {
    .article {
      flex-direction: column;
    }
  }
}
