@import 'colors';

.home {
  main {
    grid-column: 2/7;
  }
  .logo, .title {
    display: none;
  }
  .hero {
    display: flex;
    margin: 1rem 3rem 3rem 0rem;
    .hero-title {
      flex-grow: 1;
      align-content: center;
      h1 {
        font-size: 5rem;
        color: $black;
        margin-bottom: 0;
      }
    }
  }
  .article-list {
    grid-template-columns: 1fr 1fr;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  row-gap: 1rem;
  column-gap: 1rem;
  margin:1rem 0;
  img {
    max-width: 14rem;
  }
}

@media (max-width: 700px) {
  .home main {
    grid-column: 1 / -1;
    
    .article-list {
      grid-template-columns: 1fr;
    }
  }
  .home .hero {
    flex-direction: column-reverse;
    margin: 0 0 2rem;
    h1, p {
      text-align: center;
    }
    p {
      font-size: 1rem;
    }
    .hero-title h1 {
      font-size: clamp(2.25rem, 4.5vw, 3.5rem);
    }
    img {
      max-width: 25%;
      margin: auto;
    }
  }
  h2 {
    font-size: clamp(1.75rem, 4vw, 3rem);
  }
  .gallery {
    img {
      max-width: 100%;
    }
    .gallery-link {
      width: 100%;
    }
  }
  .article-gallery .article {
    width: 100%;
  }
}
