h1
  &.title
    font-size: 3rem
    line-height: 2
    text-align: center

h2
  font-weight: bold
  font-family: 'Fjord One', serif
  font-size: 2rem
  margin-bottom: 1rem

p
  font-size: 1.25rem
  line-height: 1.2

.book
  width: 200px
  display: block
  margin: 1.5rem auto 0.5rem

footer
  margin: 0 auto 4rem
  text-align: center
  grid-column: 1 / -1
