---
---

@import 'reset';
@import 'colors';
@import 'general';

main.article {
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: $blue;
    margin-bottom: 0.75rem;
  }

  p:has(+ ul) {
    padding-bottom: 0.5rem;
  }

  .img-container {
    margin-bottom: 2rem;
    img {
      margin-bottom: 0.25rem;
      max-width: 100%;
    }
  }

  h1.title {
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
  }

  h2 {
    padding-top: 2rem;
  }

  img {
    margin-bottom: 2rem;
    max-width: 75%;
  }

  ul {
    list-style-type: disc;
    padding-left: 2rem;
    padding-bottom: 1rem;
    li {
      padding-bottom: 0.5rem;
      font-size: 1.25rem;
    }
  }

  blockquote {
    background: rgba($blue, 0.15);
    border-radius: 0.5rem;
    padding: 2rem 2rem 2rem 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    &:before {
      content: "\201C";
      color: rgba($blue, 0.5);
      font-size: 12rem;
      position: absolute;
      top: -2rem;
      left: -1.5rem;
      z-index: -1;
    }
    p {
      padding-bottom: 0;
    }
    cite {
      padding-left: 0.25rem;
      vertical-align: baseline;
    }
  }

  cite {
    font-size: 1rem;
    vertical-align: super;
  }

  .tarot-spread {
    width: 100%;
    max-width: 30rem;
  }
}
