<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
    <link  href="{{ site.baseurl }}/assets/css/article.css" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    <main class="article">
      <div class="img-container">
      <img src="/assets/img/article/{{ page.img }}" alt="{{ post.title }}" title="{{ post.title }}">
      {% if page.img-text %} <cite>{{page.img-text}}</cite>{% endif %}
    </div>
      <h1 class="title">{{page.title}}</h1>
      <br>
      {{ content }}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
