<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include article-head.html %}
  </head>
  <body>
    {% include header.html %}
    <main class="article">
      <h1 class="title">{{page.title}}</h1>
      <img src="/assets/img/article/{{ page.img }}" alt="{{ post.title }}" title="{{ post.title }}">
      {% if post.img-text %} <cite>{{post.img-text}}</cite> {% endif %}
      <br>
      {{ content }}
    </main>
    <footer>
      {% include article-footer.html %}
    </footer>
  </body>
</html>
