<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include head.html %}
    <link  href="{{ site.baseurl }}/assets/css/article.css" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    <main class="article">
      <img src="/assets/img/tarot-spread/{{ page.img }}" alt="{{ page.title }}" title="{{ page.title }}" class="tarot-spread">
      <br>
      <h1>{{page.title}}</h1>
      {{ content }}
      <p><a href="/free-tarot-spreads">See More Tarot Spreads</a></p>
    </main>
    <footer>
      {% include upsell-footer.html  %}
    </footer>
  </body>
</html>
