<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include tarot-spread-head.html %}
    <link  href="{{ site.baseurl }}/assets/css/article.css" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    <main class="article">
      <img src="/assets/img/tarot-spread/{{ page.img }}" alt="{{ page.title }}" title="{{ page.title }}" class="tarot-spread">
      <br>
      <h1>{{page.title}}</h1>
      {{ content }}
      <p><a href="/free-tarot-spreads">See More Tarot Spreads</a></p>
    </main>
    <footer>
      <div class="kofi-callout">
        <p>If this spread becomes part of your regular practice, consider dropping a tip in my Ko-fi jar. Your support helps me design and share more free divination tools.</p>
        <a href='https://ko-fi.com/juniperdivination/donate?utm_source=webite&utm_medium=article%20callout' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=6' alt='Donate at ko-fi.com' /></a>
      </div>
      {% include footer.html %}
    </footer>
  </body>
</html>
